<div class="topnav">
    <img src="/cs326icon.svg" class="nav-logo">
    <a id="right" href="/register">register</a>
    <a id="right" href="/login">login</a>
    <a id="left" href="/dashboard">portfolio manager</a>
</div>