<nav class="navbar navbar-expand-sm navbar-custom navbar-light">
    <div class="container-fluid">

        <% if(loggedIn){ %>
            <a class="navbar-brand" href="/dashboard"><img src="/cs326icon.svg" class="nav-logo"> portfolio manager</a>
        <% } else{ %>
            <a class="navbar-brand" href="/login"><img src="/cs326icon.svg" class="nav-logo"> portfolio manager</a>
        <% } %>
            
        <ul class="navbar-nav">
            <% if(loggedIn){ %>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" id="navbardrop" data-toggle="dropdown">
                        </a>
                    <div class="dropdown-menu dropdown-menu-right">
                          <a class="dropdown-item" href="" onclick="removeToken()">Logout</a>
                     </div>
                </li>
            <% } else{ %>
                <li class="nav-item">
                    <a class="nav-link" href="/login">login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register">register</a>
                </li>
            <% } %>
        </ul>
    </div>
</nav>