:root {
  --custom-gray: #333333;
  --custom-blue: #4C98E3;
}

body { 
  margin: 0;
  font-family: 'Avenir Next';
  background-color: var(--custom-gray) !important;
}

.topnav {
  overflow: hidden;
  background-color: var(--custom-blue);
}

.topnav a#right {
  float: right;
  color: var(--custom-gray);
  text-align: center;
  padding: 30px 36px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a#left {
  float: left;
  color: var(--custom-gray);
  text-align: center;
  padding: 30px 36px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a#right:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

@font-face {
  font-family: 'Avenir Next' !important;
  src: url("./fonts/AvenirNextLTPro-It.otf") !important;
}

.nav-logo {
  margin-left: 10px;
  margin-top: 10px;
  float: left;
}

.header h2 {
  margin-top: 50px;
  text-align: center;
  font-family: 'Avenir Next' !important;
  color: var(--custom-blue);
}

.header button.fab {
  float: right;
  height: 40px;
  width: 180px;
  margin-right: 100px;
  background-color: var(--custom-blue);
  border-radius: 40px;
  border: none;
}

.container {
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard {
  width: 100%;
}

.dashboard .card {
  margin-bottom: 10px;
}

.buttons button.edit, button.delete {
  float: right;
  background-color: var(--custom-blue) !important;
  border: none;
}

button:focus {
  outline: none !important;
}

.buttons button.edit img, button.delete img {
  height: 20px;
  width: 20px;
}

#center {
  justify-content: center;
  align-items: center;
  display: flex;
}



#card-form {
  background-color: var(--custom-gray) !important;
  color: var(--custom-blue) !important;
  border: none;
}

#card-button {
  background-color: var(--custom-blue) !important;
  color: var(--custom-gray) !important;
  height: 40px;
  width: 140px;
  border-radius: 40px;
  border: none;
}

#project-name, #project-description, #first-name, #last-name, #email, #password, #confirm-password {
  margin-bottom: 20px;
}

#dashboard {
  background-color: var(--custom-blue) !important;
}
#dashboard:hover, .fab:hover, #card-button:hover {
  opacity: 0.8;
}

div.toast{
  position: fixed;
  left: 50%;
  top: 200px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  width: 350px;
  text-align: center;
}

div.toast.error {
  background-color: #cc0000;
  color: white;
}
div.spinner-border {
  position: fixed;
  left: 50%;
  margin: 0 auto;
}
