:root {
  --custom-gray: #333333;
  --custom-blue: #4C98E3;
}

body {
  margin: 0;
  font-family: 'Avenir Next';
  background-color: var(--custom-gray) !important;
}

.topnav {
  overflow: hidden;
  background-color: var(--custom-blue);
}

.topnav .right {
  float: right;
  color: var(--custom-gray);
  text-align: center;
  padding: 30px 36px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a.left {
  float: left;
  color: var(--custom-gray);
  text-align: center;
  padding: 30px 36px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a.right:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

@font-face {
  font-family: 'Avenir Next' !important;
  src: url("./fonts/AvenirNextLTPro-It.otf") !important;
}

.nav-logo {
  height: 40px;
  width: 40px;
  margin-right: 10px;
  float: left;
}

.header h2 {
  margin-top: 50px;
  text-align: center;
  font-family: 'Avenir Next' !important;
  color: var(--custom-blue);
}

.header button.fab {
  float: right;
  height: 40px;
  width: 180px;
  margin-right: 100px;
  background-color: var(--custom-blue);
  border-radius: 40px;
  border: none;
}

.container {
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.dashboard, .footer{
  width: 100%;
  display: block;
}
.footer .card {
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #c5ccc5 !important;
}
.footer .card div.dropdown button{
}
.dashboard .card, .footer .card{
  margin-bottom: 10px;
}

.buttons button.edit, button.delete {
  float: right;
  background-color: var(--custom-blue) !important;
  border: none;
}

button:focus {
  outline: none !important;
}

.buttons button.edit img, button.delete img {
  height: 20px;
  width: 20px;
}

#card-form {
  background-color: var(--custom-gray) !important;
  color: var(--custom-blue) !important;
  border: none;
}

#login-button, #register-button, #project-button {
  background-color: var(--custom-blue) !important;
  color: var(--custom-gray) !important;
  height: 40px;
  width: 140px;
  border-radius: 40px;
  border: none;
}

#project-name, #project-description, #first-name, #last-name, #email, #password, #confirm-password {
  margin-bottom: 20px;
}

#dashboard {
  background-color: var(--custom-blue) !important;
}

#dashboard:hover, .fab:hover, #card-button:hover {
  opacity: 0.8;
}

.center {
  justify-content: center;
  align-items: center;
  display: flex;
}

div.toast {
  position: fixed;
  left: 50%;
  top: 200px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  width: 350px;
  text-align: center;
}

div.toast.error {
  background-color: #dc3636;
  color: white;
}

div.toast.success {
  background-color: #00b300;
  color: white;
}

div.spinner-border {
  position: fixed;
  left: 50%;
  margin: 0 auto;
}

ul {
  text-align: center;
  list-style: inside;
}

body.homepage {
  background-image: url('/bg326.svg');
}

.header1 h1 {
  margin-top: 50px;
  text-align: center;
  font-family: 'Avenir Next' !important;
  color: var(--custom-blue);
  font-size: 100px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 8em;
}

.header1 h2 {
  margin-top: 50px;
  text-align: center;
  font-family: 'Avenir Next' !important;
  color: var(--custom-blue);
  font-size: 100;
}

.navbar-custom {
  background-color: var(--custom-blue);
}

.dropdown-menu {
  margin-top: 12px !important;
}
div.footer nav ul {
  background-color: var(--custom-blue);
}
div.footer nav ul li {
  padding-right: 200px;
}
div.footer nav ul li a {
  background-color: var(--custom-blue);
  border:none;
  color: white;
}
div.footer nav ul li#page-dropdown {
  width: 100px !important;
}
div.footer nav ul li#page-next {
}
div.footer nav ul li#page-dropdown select {
  width: 200px;
}
div.footer nav ul li#page-dropdown select, a {
  background-color: var(--custom-blue) !important;
  border: none;
}

/* .disabled {
  background-color: var(--custom-blue);
  pointer-events: none;
  opacity: 0.6;
} */
