<!DOCTYPE HTML>
<html>

<%- include('../partials/header') %>

<body>
    <%- include('../partials/navbar') %>
    <div class="header">
        <h2>edit project</h2>
    </div>

    <div class="container">
        <div class="dashboard">
            <div class="card" id="card-form">
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label for="project-name">project name</label>
                            <input type="text" name="project-name" class="form-control" id="project-name"
                                placeholder="project name">

                            <label for="project-description">project description</label>
                            <textarea rows="5" name="project-description" class="form-control" id="project-description"
                                placeholder="project description"></textarea>
                            <div class="form-group" id="center">
                                <button type="button" class="btn btn-primary" id="card-button">update project</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>