<!DOCTYPE HTML>
<html>

<%- include('../partials/header') %>
<script src = "scripts/homeGuard.js"></script>
<body class = 'homepage'>
  <%- include('../partials/navbar') %>
  <div class="header1">
    <h1>portfolio manager</h1>
    <h2>Organize your projects</h2>
    <h2>Keep Track Of All Your Progress</h2>
    <h2>All In One Place</h2>
</div>
</body>
</html>
