<!DOCTYPE HTML>
<html>

<%- include('../partials/header') %>

<body>
    <%- include('../partials/navbar') %>

    <div class="header">
        <h2>log in</h2>
    </div>
    <div class="container">
        <div class="dashboard">
            <div class="card" id="card-form">
                <div class="card-body">
                    <form method="POST" onsubmit="return validateForm();" id="login-form">
                        <div class="form-group">
                            <label for="project-name">email address</label>
                            <input type="text" name="email" class="form-control" id="email" placeholder="email address">

                            <label for="project-description">password</label>
                            <input type="password" name="password" class="form-control" id="password"
                                placeholder="password">

                            <div class="form-group" id="center">
                                <button type="submit" class="btn btn-primary login" id="card-button">confirm</button>
                            </div>
                            <div class="toast">
                                <div class="toast-body">
                                </div>
                              </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>