<!DOCTYPE HTML>
<html>

<head>
    <link rel='stylesheet' href='pmstyling.css'>
    <title>Portfolio Manager</title>
    <!-- bootstrap library -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
    
    <%- include('../partials/navbar') %>

    <div class="header">
        <h2>register</h2>
    </div>

    <div class="container">
        <div class="dashboard">
            <div class="card" id="card-form">
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label for="project-name">first name</label>
                            <input type="text" name="first-name" class="form-control" id="first-name"
                                placeholder="first name">

                            <label for="project-name">last name</label>
                            <input type="text" name="last-name" class="form-control" id="last-name" placeholder="last name">

                            <label for="project-name">email address</label>
                            <input type="text" name="email" class="form-control" id="email" placeholder="email address">

                            <label for="project-description">password</label>
                            <input type="text" name="password" class="form-control" id="password"
                                placeholder="password">

                            <label for="project-description">confirm password</label>
                            <input type="text" name="confirm-password" class="form-control" id="confirm-password"
                                placeholder="confirm password">
                            <div class="form-group" id="center">
                                <button type="button" class="btn btn-primary" id="card-button">confirm</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>