<!DOCTYPE HTML>
<html>
<%- include('../partials/header') %>
<script src="scripts/verifyToken.js"></script>
<script src="scripts/dashboard-route.js"></script>
<body>
  <%- include('../partials/navbar', {loggedIn: true}) %>

  <div class="header">
      <button class="fab" onclick="redirect('/create-project')">add new project</button>
      <h2>project dashboard</h2>
  </div>
  <div class="container"> 
      <%- include('../partials/toast') %>
    <div class="dashboard">
          <!-- <div class="card bg-primary text-black" id="dashboard">
            <div class="card-body">
              <span class="buttons">
                  <button class="delete"><img src="./trash.svg"></button>
                  <button class="edit" onclick="redirect('/edit-project')"><img src="./edit.svg"></button>
              </span>
            </div>
          </div> -->
          <div class="spinner-border text-primary" id="interim-spinner"></div>
    </div>
    <div class="footer">
      <nav>
        <ul class="pagination justify-content-end">
          <li class="page-item" id="page-previous">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
          </li>
          <li class="page-item" id="page-dropdown">
            <select class="browser-default custom-select" onchange="location = this.value;">
              <option value="" disabled selected>Choose your option</option>
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
            </select>
          </li>
          <li class="page-item" id="page-next">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav> 
    </div>
  </div>
</body>
</html>
